@import "tailwindcss";

/* Fonts */
@import "../public/fonts/Recoleta/fonts.css";

:root {
  --background: #8066cc;
  --foreground: #ffffff;

  /* Fonts */
  --recoleta: "Recoleta", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-recoleta: var(--recoleta);

  /* Colors */
  --color-primary: #134e64;
  --color-secondary: #fafafa;
  --color-marquee: #fbca4a;
  --color-api-docs-card-bg: #8c75d1;
  --color-about-card-bg: #feedd2;

  /* Spacing */
  --spacing-navbar-height: 80px;

  /* Breakpoints */
  --breakpoint-xs: 550px;
}

/* Utilities */
@utility custom-flex-col {
  @apply flex flex-col;

  > * {
    @apply w-full;
  }
}

@utility custom-flex-center {
  @apply flex items-center justify-center;
}

/* Base */
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply relative w-full h-full min-h-screen;
  }

  section {
    @apply relative w-full;
  }

  button {
    @apply cursor-pointer;

    &:disabled {
      @apply cursor-default;
    }
  }
}

/* Keyframes */
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
